# backup files
*.bak

# /
/CMakeFiles
/cmake
/CTestTestfile.cmake
/CPackSourceConfig.cmake
/CPackConfig.cmake
/CMakeCache.txt
/CMakeDoxygenDefaults.cmake
/cmake_install.cmake
/bin
/.settings
/autom4te.cache
/lib
/.cdtproject
/.project
/config.status
/configure
/Makefile
/Makefile.in
/SharkConfig
/*.dsw
/share
SharkConfig.cmake
SharkConfigVersion.cmake
SharkTargets.cmake
/CMakeDoxyfile.in
/DartConfiguration.tcl
/cmake_uninstall.cmake

/Testing
/build
examples/Benchmark/shark/build/

# /Test/
/Test/test_output
/Test/check_sparse.csv
/Test/check_kernelmatrix_sparse_c_none.libsvm
/Test/check_kernelmatrix_r_traceN.libsvm
/Test/check_kernelmatrix_mcc_traceN.libsvm
/Test/check_kernelmatrix_c_traceN.libsvm
/Test/check_kernelmatrix_r_var.libsvm
/Test/check_kernelmatrix_r_trace.libsvm
/Test/check_kernelmatrix_r_none.libsvm
/Test/check_kernelmatrix_r_center_tr.libsvm
/Test/check_kernelmatrix_r_center.libsvm
/Test/check_kernelmatrix_mcc_var.libsvm
/Test/check_kernelmatrix_mcc_trace.libsvm
/Test/check_kernelmatrix_mcc_none.libsvm
/Test/check_kernelmatrix_mcc_center_tr.libsvm
/Test/check_kernelmatrix_mcc_center.libsvm
/Test/check_kernelmatrix_c_var.libsvm
/Test/check_kernelmatrix_c_trace.libsvm
/Test/check_kernelmatrix_c_none.libsvm
/Test/check_kernelmatrix_c_center_tr.libsvm
/Test/check_kernelmatrix_c_center.libsvm
/Test/check_kernelmatrix_r.libsvm
/Test/check_kernelmatrix_mcc.libsvm
/Test/check_kernelmatrix_c.libsvm
/Test/Testing
/Test/new_shark_format
/Test/CMakeCache.txt
/Test/warm.txt
/Test/hot.txt
/Test/curve.dat
/Test/cold.txt
/Test/SteadyStateMOCMA
/Test/SMSEMOA
/Test/MOCMA
/Test/HypRealCodedNSGAII
/Test/EpsRealCodedNSGAII
/Test/EpsilonSteadyStateMOCMA
/Test/EpsilonMOCMA
/Test/AGE
/Test/bin
/Test/Models_Softmax
/Test/Models_SigmoidModel
/Test/Models_RNNet
/Test/Models_RBFNet
/Test/Models_OnlineRNNet
/Test/Models_LinearNorm
/Test/Models_LinearModel
/Test/Models_KernelNearestNeighbor
/Test/Models_KernelMeanClassifier
/Test/Models_KernelFunction
/Test/Models_FFNet
/Test/Models_ConcatenatedModel
/Test/Models_CMAC
/Test/LP_LinearProgram
/Test/LinAlg_VectorStatistics
/Test/LinAlg_simple
/Test/GradDesc_SteepestDescent
/Test/GradDesc_Rprop
/Test/GradDesc_Quickprop
/Test/GradDesc_NoisyRprop
/Test/GradDesc_CG
/Test/GradDesc_BFGS
/Test/Data_Libsvm
/Test/Data_Dataset
/Test/Data_CVDatasetTools
/Test/Data_Csv
/Test/Algorithm_GridSearch
/Test/CMakeFiles
/Test/Makefile
/Test/CTestTestfile.cmake
/Test/cmake_install.cmake
/Test/check.csv

# /Test/test_data/
/Test/test_data/splitfile_test2.split
/Test/test_data/splitfile_test.split
/Test/test_data/set_from_file.split
/Test/test_data/my_random_set.split
/Test/test_data/my_new_set.split
/Test/test_data/warm.txt
/Test/test_data/hot.txt
/Test/test_data/curve.dat
/Test/test_data/cold.txt
/Test/test_data/check.csv
/Test/test_data/thyroid.csv
/Test/test_data/thyroid.shark-data
/Test/test_data/new_shark_format

# /Test/testing_files/
/Test/testing_files/check_kernelmatrix_sparse_c_none.libsvm
/Test/testing_files/check_kernelmatrix_r_var.libsvm
/Test/testing_files/check_kernelmatrix_r_traceN.libsvm
/Test/testing_files/check_kernelmatrix_r_trace.libsvm
/Test/testing_files/check_kernelmatrix_r_none.libsvm
/Test/testing_files/check_kernelmatrix_r_center_tr.libsvm
/Test/testing_files/check_kernelmatrix_r_center.libsvm
/Test/testing_files/check_kernelmatrix_mcc_var.libsvm
/Test/testing_files/check_kernelmatrix_mcc_traceN.libsvm
/Test/testing_files/check_kernelmatrix_mcc_trace.libsvm
/Test/testing_files/check_kernelmatrix_mcc_none.libsvm
/Test/testing_files/check_kernelmatrix_mcc_center_tr.libsvm
/Test/testing_files/check_kernelmatrix_mcc_center.libsvm
/Test/testing_files/check_kernelmatrix_c_var.libsvm
/Test/testing_files/check_kernelmatrix_c_traceN.libsvm
/Test/testing_files/check_kernelmatrix_c_trace.libsvm
/Test/testing_files/check_kernelmatrix_c_none.libsvm
/Test/testing_files/check_kernelmatrix_c_center_tr.libsvm
/Test/testing_files/check_kernelmatrix_c_center.libsvm
/Test/testing_files/encoding_filters_dos2pos.txt
/Test/testing_files/check_sparse.csv
/Test/testing_files/check.csv

# /contrib/mathjax/
/contrib/mathjax/README.md
/contrib/mathjax/MathJax.js
/contrib/mathjax/LICENSE
/contrib/mathjax/unpacked
/contrib/mathjax/test
/contrib/mathjax/jax
/contrib/mathjax/images
/contrib/mathjax/fonts
/contrib/mathjax/extensions
/contrib/mathjax/docs
/contrib/mathjax/config
/contrib/mathjax/.gitignore
/contrib/mathjax/.git

# /docs/
/docs/Shark.dox
/docs/CMakeCache.txt
/docs/latex
/docs/Makefile
/docs/CTestTestfile.cmake
/docs/CMakeDoxygenDefaults.cmake
/docs/cmake_install.cmake
/docs/CMakeFiles
/docs/EALib
/docs/Array
/docs/ReClaM
/docs/Mixture
/docs/Fuzzy
/docs/random
/docs/LinAlg
/docs/MOO-EALib
/docs/FileUtil
/docs/sphinx_pages/doxylink/__pycache__/

# /doc/doxygen_pages/

# /doc/doxygen_pages/tag_files/
/doc/doxygen_pages/tag_files/all.tag

# /doc/sphinx_pages/
/doc/sphinx_pages/conf.py
/doc/sphinx_pages/build

# /doc/sphinx_pages/rest_sources
doc/sphinx_pages/rest_sources/tutorials/algorithms/*.rst
doc/sphinx_pages/rest_sources/tutorials/first_steps/hello_shark.rst
doc/sphinx_pages/rest_sources/tutorials/first_steps/general_optimization_tasks.rst
doc/sphinx_pages/rest_sources/tutorials/first_steps/when_to_stop.rst
doc/sphinx_pages/rest_sources/quickref/datasets.rst
doc/sphinx_pages/rest_sources/tutorials/concepts/data/dataset_subsets.rst
doc/sphinx_pages/rest_sources/tutorials/concepts/data/datasets.rst
doc/sphinx_pages/rest_sources/tutorials/concepts/data/import_data.rst
doc/sphinx_pages/rest_sources/tutorials/concepts/data/normalization.rst
doc/sphinx_pages/rest_sources/tutorials/concepts/misc/random_numbers.rst
doc/sphinx_pages/rest_sources/tutorials/concepts/misc/versatile_classification.rst

# tutToRst
docs/tutToRst/CMakeFiles/CMakeDirectoryInformation.cmake
docs/tutToRst/CMakeFiles/progress.marks
docs/tutToRst/CMakeFiles/tut2rst.dir/DependInfo.cmake
docs/tutToRst/CMakeFiles/tut2rst.dir/build.make
docs/tutToRst/CMakeFiles/tut2rst.dir/cmake_clean.cmake
docs/tutToRst/CMakeFiles/tut2rst.dir/compiler_depend.internal
docs/tutToRst/CMakeFiles/tut2rst.dir/compiler_depend.make
docs/tutToRst/CMakeFiles/tut2rst.dir/compiler_depend.ts
docs/tutToRst/CMakeFiles/tut2rst.dir/depend.make
docs/tutToRst/CMakeFiles/tut2rst.dir/flags.make
docs/tutToRst/CMakeFiles/tut2rst.dir/link.txt
docs/tutToRst/CMakeFiles/tut2rst.dir/progress.make
docs/tutToRst/CMakeFiles/tut2rst.dir/tut2rst.cpp.o
docs/tutToRst/CMakeFiles/tut2rst.dir/tut2rst.cpp.o.d
docs/tutToRst/CTestTestfile.cmake
docs/tutToRst/Makefile
docs/tutToRst/cmake_install.cmake


# /examples/
/examples/CMakeFiles
/examples/bin
/examples/Makefile
/examples/CTestTestfile.cmake
/examples/cmake_install.cmake
examples/Core/*.cpp
examples/EA/MOO/*.cpp
examples/EA/SOO/*.cpp
examples/Statistics/*.cpp
examples/Supervised/*.cpp
examples/Unsupervised/*.cpp
examples/Data/*.cpp

# /examples/ExampleProject/
/examples/ExampleProject/CMakeLists.txt

# /examples/Supervised/
/examples/Supervised/quickstartData.shark-labeled

# /examples/Unsupervised/
/examples/Unsupervised/clc.csv
/examples/Unsupervised/cl2.csv
/examples/Unsupervised/cl1.csv

# /include/shark/Core/
/include/shark/Core/Shark.h

# /src/
/src/*.dsp
/src/*.dsw
/src/Makefile
/src/Makefile.in
src/CMakeFiles/
src/cmake_install.cmake

# other files in /include
include/CMakeFiles/
include/Makefile
include/cmake_install.cmake
