
# /
/CMakeFiles
/cmake
/CTestTestfile.cmake
/CPackSourceConfig.cmake
/CPackConfig.cmake
/CMakeCache.txt
/cmake_install.cmake
/bin
/.settings
/autom4te.cache
/lib
/.cdtproject
/.project
/config.status
/configure
/Makefile
/Makefile.in
/SharkConfig
/*.dsw
/share
SharkConfig.cmake
SharkConfigVersion.cmake
SharkTargets.cmake

/Testing
/build

# /Test/
/Test/test_output
/Test/check_sparse.csv
/Test/check_kernelmatrix_sparse_c_none.libsvm
/Test/check_kernelmatrix_r_traceN.libsvm
/Test/check_kernelmatrix_mcc_traceN.libsvm
/Test/check_kernelmatrix_c_traceN.libsvm
/Test/check_kernelmatrix_r_var.libsvm
/Test/check_kernelmatrix_r_trace.libsvm
/Test/check_kernelmatrix_r_none.libsvm
/Test/check_kernelmatrix_r_center_tr.libsvm
/Test/check_kernelmatrix_r_center.libsvm
/Test/check_kernelmatrix_mcc_var.libsvm
/Test/check_kernelmatrix_mcc_trace.libsvm
/Test/check_kernelmatrix_mcc_none.libsvm
/Test/check_kernelmatrix_mcc_center_tr.libsvm
/Test/check_kernelmatrix_mcc_center.libsvm
/Test/check_kernelmatrix_c_var.libsvm
/Test/check_kernelmatrix_c_trace.libsvm
/Test/check_kernelmatrix_c_none.libsvm
/Test/check_kernelmatrix_c_center_tr.libsvm
/Test/check_kernelmatrix_c_center.libsvm
/Test/check_kernelmatrix_r.libsvm
/Test/check_kernelmatrix_mcc.libsvm
/Test/check_kernelmatrix_c.libsvm
/Test/Testing
/Test/new_shark_format
/Test/CMakeCache.txt
/Test/warm.txt
/Test/hot.txt
/Test/curve.dat
/Test/cold.txt
/Test/SteadyStateMOCMA
/Test/SMSEMOA
/Test/MOCMA
/Test/HypRealCodedNSGAII
/Test/EpsRealCodedNSGAII
/Test/EpsilonSteadyStateMOCMA
/Test/EpsilonMOCMA
/Test/AGE
/Test/CMSA_Rosenbrock.html
/Test/CMSA_Ellipsoid.html
/Test/CMA_Rosenbrock.html
/Test/CMA_Ellipsoid.html
/Test/CMA_Discus.html
/Test/CMA_Cigar.html
/Test/OnePlusOneES_Rosenbrock.html
/Test/OnePlusOneES_Ellipsoid.html
/Test/OnePlusOneES_Discus.html
/Test/OnePlusOneES_Cigar.html
/Test/ElitistCMA_Rosenbrock.html
/Test/ElitistCMA_Ellipsoid.html
/Test/ElitistCMA_Discus.html
/Test/ElitistCMA_Cigar.html
/Test/CMSA_Discus.html
/Test/CMSA_Cigar.html
/Test/bin
/Test/Models_Softmax
/Test/Models_SigmoidModel
/Test/Models_RNNet
/Test/Models_RBFNet
/Test/Models_OnlineRNNet
/Test/Models_LinearNorm
/Test/Models_LinearModel
/Test/Models_KernelNearestNeighbor
/Test/Models_KernelMeanClassifier
/Test/Models_KernelFunction
/Test/Models_FFNet
/Test/Models_ConcatenatedModel
/Test/Models_CMAC
/Test/LP_LinearProgram
/Test/LinAlg_VectorStatistics
/Test/LinAlg_simple
/Test/GradDesc_SteepestDescent
/Test/GradDesc_Rprop
/Test/GradDesc_Quickprop
/Test/GradDesc_NoisyRprop
/Test/GradDesc_CG
/Test/GradDesc_BFGS
/Test/Data_Libsvm
/Test/Data_Dataset
/Test/Data_CVDatasetTools
/Test/Data_Csv
/Test/Algorithm_GridSearch
/Test/CMakeFiles
/Test/Makefile
/Test/CTestTestfile.cmake
/Test/cmake_install.cmake
/Test/check.csv

# /Test/test_data/
/Test/test_data/splitfile_test2.split
/Test/test_data/splitfile_test.split
/Test/test_data/set_from_file.split
/Test/test_data/my_random_set.split
/Test/test_data/my_new_set.split
/Test/test_data/warm.txt
/Test/test_data/hot.txt
/Test/test_data/curve.dat
/Test/test_data/cold.txt
/Test/test_data/check.csv
/Test/test_data/OnePlusOneES_Ellipsoid.html
/Test/test_data/OnePlusOneES_Discus.html
/Test/test_data/OnePlusOneES_Cigar.html
/Test/test_data/ElitistCMA_Rosenbrock.html
/Test/test_data/ElitistCMA_Ellipsoid.html
/Test/test_data/ElitistCMA_Discus.html
/Test/test_data/ElitistCMA_Cigar.html
/Test/test_data/CMSA_Rosenbrock.html
/Test/test_data/CMSA_Ellipsoid.html
/Test/test_data/CMSA_Discus.html
/Test/test_data/CMSA_Cigar.html
/Test/test_data/CMA_Rosenbrock.html
/Test/test_data/CMA_Ellipsoid.html
/Test/test_data/CMA_Discus.html
/Test/test_data/CMA_Cigar.html
/Test/test_data/thyroid.csv
/Test/test_data/thyroid.shark-data
/Test/test_data/new_shark_format

# /Test/testing_files/
/Test/testing_files/check_kernelmatrix_sparse_c_none.libsvm
/Test/testing_files/check_kernelmatrix_r_var.libsvm
/Test/testing_files/check_kernelmatrix_r_traceN.libsvm
/Test/testing_files/check_kernelmatrix_r_trace.libsvm
/Test/testing_files/check_kernelmatrix_r_none.libsvm
/Test/testing_files/check_kernelmatrix_r_center_tr.libsvm
/Test/testing_files/check_kernelmatrix_r_center.libsvm
/Test/testing_files/check_kernelmatrix_mcc_var.libsvm
/Test/testing_files/check_kernelmatrix_mcc_traceN.libsvm
/Test/testing_files/check_kernelmatrix_mcc_trace.libsvm
/Test/testing_files/check_kernelmatrix_mcc_none.libsvm
/Test/testing_files/check_kernelmatrix_mcc_center_tr.libsvm
/Test/testing_files/check_kernelmatrix_mcc_center.libsvm
/Test/testing_files/check_kernelmatrix_c_var.libsvm
/Test/testing_files/check_kernelmatrix_c_traceN.libsvm
/Test/testing_files/check_kernelmatrix_c_trace.libsvm
/Test/testing_files/check_kernelmatrix_c_none.libsvm
/Test/testing_files/check_kernelmatrix_c_center_tr.libsvm
/Test/testing_files/check_kernelmatrix_c_center.libsvm
/Test/testing_files/encoding_filters_dos2pos.txt
/Test/testing_files/check_sparse.csv
/Test/testing_files/check.csv

# /contrib/mathjax/
/contrib/mathjax/README.md
/contrib/mathjax/MathJax.js
/contrib/mathjax/LICENSE
/contrib/mathjax/unpacked
/contrib/mathjax/test
/contrib/mathjax/jax
/contrib/mathjax/images
/contrib/mathjax/fonts
/contrib/mathjax/extensions
/contrib/mathjax/docs
/contrib/mathjax/config
/contrib/mathjax/.gitignore
/contrib/mathjax/.git

# /doc/
/doc/Shark.dox
/doc/CMakeCache.txt
/doc/latex
/doc/Makefile
/doc/CTestTestfile.cmake
/doc/cmake_install.cmake
/doc/CMakeFiles
/doc/index.html
/doc/EALib
/doc/Array
/doc/ReClaM
/doc/Mixture
/doc/Fuzzy
/doc/Rng
/doc/LinAlg
/doc/MOO-EALib
/doc/FileUtil
/doc/html

# /doc/doxygen_pages/
/doc/doxygen_pages/html

# /doc/doxygen_pages/tag_files/
/doc/doxygen_pages/tag_files/all.tag

# /doc/sphinx_pages/
/doc/sphinx_pages/conf.py
/doc/sphinx_pages/build

# /doc/sphinx_pages/rest_sources
doc/sphinx_pages/rest_sources/tutorials/first_steps/hello_shark.rst

# /examples/
/examples/CMakeFiles
/examples/bin
/examples/Makefile
/examples/CTestTestfile.cmake
/examples/cmake_install.cmake

# /examples/ExampleProject/
/examples/ExampleProject/CMakeLists.txt

# /examples/Supervised/
/examples/Supervised/quickstartData.shark-labeled

# /examples/Unsupervised/
/examples/Unsupervised/clc.csv
/examples/Unsupervised/cl2.csv
/examples/Unsupervised/cl1.csv

# /include/shark/Core/
/include/shark/Core/Shark.h

# /src/
/src/*.dsp
/src/*.dsw
/src/Makefile
/src/Makefile.in
