
body
{
	font-size: 12pt;
	font-family: verdana, tahoma, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

a:link
{
	text-decoration: none;	
	color: #000000;
	background-color: #ffffff;
}

a:visited
{
	text-decoration: none;	
	border: 0;
	color: #000000;
	background-color: #ffffff;
}

img
{
	border: 0;
}

h1
{
	font-size: 30pt;
	font-family: verdana, tahoma, sans-serif;
	font-weight: bold;
	text-decoration: none;	
	text-align: center;
	height: 70px;
	min-height: 70px;
	width: 100%;
	min-width: 100%;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin: 0px;
	padding: 0px;
}

h2
{
	font-size: 18pt;
	font-weight: bold;
}

h3
{
	font-size: 14pt;
	font-weight: bold;
}

.werbung
{
	font-size: 10pt;
	font-family: verdana, tahoma, sans-serif;
	color: #000000;
	background-color: #ffffff;
	border: 0;
	text-decoration: none;
	text-align: center;
}

div.links_group a:link
{
	border: 0;
	text-decoration: none;	
	color: #000000;
	background-color: #ffffff;
}

div.links_group a:visited
{
	border: 0;
	text-decoration: none;	
	color: #000000;
	background-color: #ffffff;
}

div.links_group a:hover
{
	border: 0;
	text-decoration: none;	
	color: #007E7E; /*#000000;
	background-color: #007E7E;*/
}

.links ul
{
	margin-top:10px;
	list-style-type: none;
}
.links ul.werbung
{
	margin-top:10px;
	list-style-type: none;
}
.links_group
{
	margin-bottom: 20pt;
	margin-top:10px;
}

.links
{
	/*height: 100%;*/
	/*min-height: 100%;*/
	width: 200px;
	margin-bottom:50px;
	margin-top:50px;
	padding:0px;
	margin-left: 10px;
	border-style: outset;
	text-align:	center;
}

div.links.sponsored
{
	text-align:	center;
	margin-top:	50px;
}



div.intro
{
	position: absolute;
	left: 275px;
	top: 100px;
	text-align: justify;
	padding-left: 20px;
	margin-right: 50px;
	padding-top: 0px;
	margin-top: 0px;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
}

div.intro p
{
	text-align: justify;
	margin-left: 10px;
}

table.regular
{
	border: 0;
	width: 100%;
	margin: 0;
}

table.regular TD
{
	vertical-align: top;
	padding: 20px;
	border-top-style: solid;
	border-top-color: #cccccc;
	border-top-width: 1px;
}

.copyright
{
	text-align: center;
	font-size: 8pt;
	font-family: Times New Roman, serif;
	margin-top: 50px;
}

.sourceforge_logo
{
	margin-top:10px;
	margin-left: 0px;
	color: #000;
	text-decoration:none;
	border:0;
	background-color: #FFF;
	text-align: center;
}

/* Marquee */
#sfmarquee
{
	position: relative;
	text-align: center;
}

#sfmarquee h4
{
	text-align: center;
	font-weight: normal;
	color: #56626d !important;
}

#sfmarquee h4 strong
{
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}

DIV.publication
{
        font-size: 14px;
        color: black;
        background-color:lightblue;
        padding: 8px;
        margin: 8px;
		    margin-left: 18px;
        border-style: dashed;
        border-width: 1px;
        border-color: #000080;
}

DIV.publication A:link, DIV.publication A:visited {
		color:darkblue;
		background-color:lightblue;
}